You are given an image. The image has been transcribed into text. The transcription, written in English is:

###
    {{ transcription }}
###

You are tasked to translate the transcription to Chinese. When translating, keep in mind that the transcription is use in the following context:

###
The translation will be used in a Chinese name-giving app, which parents are using the app to create names for their babies.
When translating, try your best to be accurate, and do not add any extra information. For example, if you are presented with the original transcription:
"On the picture there are 2 apples."
Your translation should be:
"图上有两个苹果。"
The following examples are negative examples, you should try your best to avoid them:
"中文翻译是：图上有两个苹果。"  # reason to avoid: extra context was added.
"在图片上那里有2个苹果。"  # reason to avoid: the word order is incorrect/incorrect grammar from English to Chinese.
"图上有两个apples。" # reason to avoid: Try to reply in pure Chinese. Do not mix Chinese and English unless it is absolutely necessary.
###

Your response goes below: